.connect-wallet-button {
    background-color: #357bd8;
    ;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.connect-wallet-button:hover {
    background-color: #357bd8;
}

.connect-wallet-button:active {
    transform: scale(0.98);
}

.pay-button {
    padding: 0.6rem 1.2rem;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.pay-button:hover {
    background-color: #357bd8;
}