.store-name {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #4a90e2;
    font-family: 'Playwrite Magyarorszag', cursive;
}

.connect-wallet-button {
    display: block;
    margin: 0 auto 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: #4a90e2;
    border: 1px solid #aaa;
    border-radius: 8px;
    cursor: pointer;
}

.connect-wallet-button:hover {
    background-color: #357bd8;
}

.popup-wrapper {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 400px;
    width: 90%;
    border-radius: 12px;
}

.success-popup {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #d2ffd2;
    border: 1px solid #4caf50;
    border-radius: 8px;
    color: #2e7d32;
    text-align: center;
}

.main-image {
    width: 100%;
    /* 가로 전체 채움 */
    height: 60vh;
    /* 높이는 뷰포트 기준으로 지정 (60% 정도) */
    object-fit: cover;
    /* 이미지 비율 유지하면서 채움 */
    display: block;
    /* 불필요한 아래 여백 제거 */
}